		
		<!-- footer -->
<footer id="footer" class="container-fluid overflow-hidden px-xl-20">
		<div class="copyRightHolder text-center pt-lg-3 pb-lg-3 py-3">
			<p class="mb-0"><%=settingPage.coppyright%></p>
		</div>
</footer>