
<%- include('./../helpers/showdailysale'); -%>

<% 
const collection = "product";
const linkThumb = "/" + "uploads" + `/${collection}/`;
const unit      = 'VND'
%>

<!-- dealSecHolder -->
<section class="dealSecHolder container-fluid overflow-hidden py-xl-12 py-lg-10 py-md-8 py-5">
  <!-- mainHeader -->
  <header class="col-12 mainHeader mb-7 text-center">
      <h1 class="headingIV playfair fwEblod mb-5">Siêu Sale</h1>
      <span class="headerBorder d-block mb-md-5 mb-3"><img src="/frontend/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
  </header>
  <!-- dealSlider -->
  <div class="dealSlider w-100 px-lg-10 px-md-5">
        <%- showDailySale(listProductOption, linkThumb, unit) %>
  </div>
</section>