<%- include('./../helpers/showfeaturedproduct'); -%>

<% 
	const collection = "product";
	const linkThumb = "/" + "uploads" + `/${collection}/`;
    const unit      = 'VND'
%>
<!-- featureSec -->
<section class="featureSec container-fluid overflow-hidden pt-xl-12 pt-lg-10 pt-md-80 pt-5 pb-xl-10 pb-lg-4 pb-md-2 px-xl-14 px-lg-7">
  <!-- mainHeader -->
  <header class="col-12 mainHeader mb-7 text-center">
      <h1 class="headingIV playfair fwEblod mb-4">Sản Phẩm Nổi Bật</h1>
      <span class="headerBorder d-block mb-md-5 mb-3"><img src="/frontend/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
  </header>
  <div class="col-12 p-0 overflow-hidden d-flex flex-wrap">
        <%- showFeaturedProduct(listProductOption, linkThumb, unit) %>
  </div>
</section>