<%- include('./../helpers/customdate'); -%>

<%
	const collectionArticle = "blogarticle";
	const linkThumbArticle = "/" + "uploads" + `/${collectionArticle}/`;
	let showLastestArticle = (data, linkThumb) => {
		if(!data) return
		let html =''
		data.forEach(item=>{
			html += `<div class="col-12 col-sm-6 col-lg-4">
				<!-- newsPostColumn -->
				<div class="newsPostColumn text-center px-2 pb-3 mb-3">
					<div class="imgHolder position-relative mb-3">
						<a href="/tin-tuc/${item.slug}">
							<img src="${linkThumb + item.thumb}" alt="image description" class="img-fluid">
							<time class="time text-uppercase position-absolute py-2 px-1" datetime="2019-02-03 20:00">${customDateArticle(item.createdAt)}</time>
						</a>
					</div>
					<span class="postBy d-block pb-sm-1 mb-3"><a href="/tin-tuc/${item.category.slug}">Thể Loại: ${item.category.name}</a></span>
					<h2 class="headingV fwEbold mb-2"><a href="/tin-tuc/${item.slug}">${item.name}</a></h2>
					<p class="mb-0">${item.description}</p>
				</div>
			</div>
			`
		})
		return html
	}
%>

<!-- latestSec -->
			<section class="latestSec container overflow-hidden pt-xl-8 pb-xl-6 pt-lg-8 pb-lg-2 pt-md-6 pb-md-2 pt-4">
				<div class="row">
					<!-- mainHeader -->
					<header class="col-12 mainHeader mb-4 text-center">
						<h1 class="headingIV playfair fwEblod mb-6">Tin Tức</h1>
						<span class="headerBorder d-block mb-5"><img src="/frontend/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
					</header>
				</div>
				<div class="row">
					<%- showLastestArticle(getLastestArticle, linkThumbArticle) %>
				</div>
			</section>