<!-- partnerSec -->
<div class="partnerSec container overflow-hidden pt-xl-12 pb-xl-23 pt-lg-10 pt-md-8 pt-5 pb-lg-20 pb-md-16 pb-10">
  <div class="row">
      <div class="col-12">
          <!-- partnerSlider -->
          <div class="partnerSlider d-flex flex-wrap">
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
              <div>
                  <div class="logoColumn d-flex align-items-center justify-content-center">
                      <a href="javascript:void(0);"><img src="/frontend/images/p-logo2.png" alt="Partner Logo" class="img-fluid"></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>