<!-- contactListBlock -->
<div class="contactListBlock container overflow-hidden pt-xl-8 pt-lg-10 pt-md-8 pt-4 pb-xl-12 pb-lg-10 pb-md-4 pb-1">
  <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <!-- contactListColumn -->
          <div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
              <span class="icon icon-van"></span>
              <div class="alignLeft pl-2">
                  <strong class="headingV fwEbold d-block mb-1">Free shipping order</strong>
                  <p class="m-0">On orders over  $100</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <!-- contactListColumn -->
          <div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
              <span class="icon icon-gift"></span>
              <div class="alignLeft pl-2">
                  <strong class="headingV fwEbold d-block mb-1">Special gift card</strong>
                  <p class="m-0">The perfect gift idea</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <!-- contactListColumn -->
          <div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-4 px-md-2 px-3 d-flex">
              <span class="icon icon-recycle"></span>
              <div class="alignLeft pl-2">
                  <strong class="headingV fwEbold d-block mb-1">Return &amp; exchange</strong>
                  <p class="m-0">Free return within 3 days</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
          <!-- contactListColumn -->
          <div class="contactListColumn border overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
              <span class="icon icon-call"></span>
              <div class="alignLeft pl-2">
                  <strong class="headingV fwEbold d-block mb-1">Support 24 / 7</strong>
                  <p class="m-0">Customer support</p>
              </div>
          </div>
      </div>
  </div>
</div>