<%- include('./../helpers/showsaleicon'); -%>
<%- include('./../helpers/showsaletext'); -%>
<%- include('./../helpers/formatprice'); -%>

<%
  let showRelatedProduct = (data, link, unit) =>{
    if(!data) return
    let html=''
    data.forEach((item,index)=>{
      if (index>7) return
      let dataSale = showSaleIcon(item.discountProduct, item.price)
      let sale     = (dataSale) ? showSaleText(dataSale,unit) : ''
      let position = (dataSale || item.fearturedproduct == true) ? "position-relative " : ""
      let hotShow  = ''
      if(item.fearturedproduct == true){
        hotShow = '<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>'
      }
      html+= `
      <div class="col-12 col-sm-6 col-lg-3 featureCol ${position} mb-7">
        <div class="border">
          <div data-product="product-${item.id}" class="imgHolder position-relative w-100 overflow-hidden">
            <img src="${link + item.thumb[0]}" alt="image description" class="img-fluid w-100">
            <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" data-product="product-${item.id}" class="icon-heart d-block"></a></li>
              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" data-product="product-${item.id}" class="icon-cart d-block"></a></li>
              <li class="overflow-hidden"><a href="javascript:void(0);" data-product="product-${item.id}" class="icon-eye d-block"></a></li>
            </ul>
          </div>
          <div class="text-center py-5 px-4">
            <span class="title d-block mb-2"><a href="/${item.slug}">${item.name}</a></span>
            <span class="price d-block fwEbold">${formatPrice(item.price, unit, dataSale)}</span>
            ${hotShow}
            ${sale}
          </div>
        </div>
      </div>
      `
    })
    return html
  }
%>
<% 
	const collection = "product";
	const linkThumb = "/" + "uploads" + `/${collection}/`;
  const unit = ' VND'
%>
            <!-- featureSec -->
  <section class="featureSec container overflow-hidden pt-xl-6 pb-xl-15 pt-lg-5 pb-lg-7 pt-md-4 pb-md-5 py-2">
    <div class="row">
      <!-- mainHeader -->
      <header class="col-12 mainHeader mb-5 text-center">
        <h1 class="headingIV playfair fwEblod mb-4">Sản Phẩm Đề Xuất</h1>
      </header>
    </div>
    <div class="row">
      <%- showRelatedProduct(productRelated.productList ,linkThumb, unit) %>
    </div>
  </section>
