<%
  let showRelatedProduct = (data, link, unit) =>{
    if(!data) return
    let html=''
    data.forEach((item,index)=>{
      if (index>7) return
      html+= `
      <div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-7">
        <div class="border">
          <div class="imgHolder position-relative w-100 overflow-hidden">
            <img src="${link + item.thumb[0]}" alt="image description" class="img-fluid w-100">
            <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
              <li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
            </ul>
          </div>
          <div class="text-center py-5 px-4">
            <span class="title d-block mb-2"><a href="/${item.slug}">${item.name}</a></span>
            <span class="price d-block fwEbold">${item.price.toLocaleString() + unit + unit}</span>
            <span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
          </div>
        </div>
      </div>
      `
    })
    return html
  }
%>
<% 
	const collection = "product";
	const linkThumb = "/" + "uploads" + `/${collection}/`;
  const unit = ' VND'
%>
            <!-- featureSec -->
  <section class="featureSec container overflow-hidden pt-xl-12 pb-xl-29 pt-lg-10 pb-lg-14 pt-md-8 pb-md-10 py-5">
    <div class="row">
      <!-- mainHeader -->
      <header class="col-12 mainHeader mb-5 text-center">
        <h1 class="headingIV playfair fwEblod mb-4">Sản Phẩm Đề Xuất</h1>
      </header>
    </div>
    <div class="row">
      <%- showRelatedProduct(productRelated.productList ,linkThumb, unit) %>
    </div>
  </section>
