<%- include('./../helpers/showslider'); -%>
<!-- introBlock -->
<section class="introBlock position-relative">
  <div class="slick-fade">
      <%- showSlider(slider) %>
  </div>
  <div class="slickNavigatorsWrap">
      <a href="#" class="slick-prev"><i class="icon-leftarrow"></i></a>
      <a href="#" class="slick-next"><i class="icon-rightarrow"></i></a>
  </div>
</section>
