<div class="container-fluid px-xl-20 px-lg-14">
  <!-- subscribeSecBlock -->
  <section class="subscribeSecBlock bgCover col-12 pt-xl-24 pb-xl-12 pt-lg-20 pt-md-16 pt-10 pb-md-8 pb-5" style="background-image: url(/frontend/images/bg-newsletter.png)">
      <header class="col-12 mainHeader mb-sm-9 mb-6 text-center">
          <h1 class="headingIV playfair fwEblod mb-4">Đăng ký thông tin mới nhất</h1>
          <span class="headerBorder d-block mb-md-5 mb-3"><img src="/frontend/images/hbdr.png" alt="Header Border" class="img-fluid img-bdr"></span>
          <p class="mb-sm-6 mb-3">Nhập địa chỉ email của bạn để cập nhật thông tin mới từ chúng tôi</p>
      </header>
      <form id='newsletterForm' class="emailForm1 mx-auto overflow-hidden d-flex flex-wrap">
          <input type="email" name='email' class="form-control px-4 border-0" placeholder="Nhập địa chỉ email của bạn..." >
          <div class="submitButton">
            <button type="submit" class="btn btnTheme btnShop fwEbold text-white py-3 px-4">Enter <i class="fas fa-arrow-right ml-2"></i></button>
          </div>
      </form>
  </section>
</div>