#navbarNav > ul > li {
  margin: 0;
  padding: 0 13px;
}

.menu-level-2 {
  margin: 0;
  transform: translateX(20%);
}

.pageNav1 .navbar-nav li.dropdown:hover{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.logocenter{
  text-align: center;
}

.back-to-top{
  background-color: #5ba515;
  color: aliceblue;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.back-to-top:hover{
  color: aliceblue;
}

.item-product{
    border: 2px solid #5ba515;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;

}

.wrapper, .search-data{
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper{
  position: fixed;
  height: 0px;
  width: 0px;
  background-image: url("/frontend/images/tropical-mural-wallpaper-design_23-2148679938.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.4s linear;
}
.wrapper.active{
  height: 100%;
  width: 100%;
}

.search-data{
  position: absolute;
  height: 50px;
  width: 400px;
  display: flex;
  text-align: center;
  /* display: none; */
}
.search-data input{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  color: #5ba515;
}
.search-data .line{
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(91, 165, 21, 1);
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s 0.3s linear;
}
.search-data .line.active{
  transform: scaleX(1);
}
.search-data label{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(91, 165, 21, .7);
}
.search-data input:valid ~ label{
  opacity: 0;
}
.search-data span{
  color: #5ba515;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}
.close-btn{
  position: absolute;
  z-index: 999;
  right: 25px;
  top: 25px;
  font-size: 25px;
  color: #5ba515;
  cursor: pointer;
}
.search-data, .search-data span,
.search-data label, .close-btn{
  display: none;
}

.saleFeatured{
  font-size: 10px;
  top: 1px;
  left: 0px;
  padding: 4px 5px 7px 2px; 
  border-radius: 0 15px 15px 0; 
  color: white; 
  background-color: #5ba515 ;
}

.border .img-fluid.w-100{
  min-height: 270px;
}

li.mb-5.overflow-hidden.active {
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
}

.flashSale .hotOffer {
  font-size: 12px;
  line-height: 9px;
  max-width: 50px;
  padding: 5px;
  border-radius: 15px 15px;
  background: #f9861f;
  text-align: center;
}

.flashSale .hotOfferGreen {
  font-size: 12px;
  line-height: 16px;
  min-width: 50px;
  padding: 5px;
  border-radius: 15px 15px;
  background: #5ba515;
  margin: 0 !important;
}

.registerSec input{
  background-color: white;
  color: #5ba515;
}

.registerSec select{
  background-color: white;
  color: #5ba515;
}

.registerSec select:focus {
  background-color: aliceblue;
  color: #5ba515;
}
.registerSec button{
  color: white;
}

.registerSec input:focus{
  background-color: aliceblue;
  color: #5ba515;
}

.registerSec .form-check-input.me-2{
  left: 27%
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

a.icon-heart.d-block.active{
  background-color: #f9861f;
  color: white;
}