<div style="max-width: 1000px; background-color: white; margin: 50px auto; padding: 30px;">
	<div class="row">
		<div class="col-12">
			<!-- tabSetList -->
			<ul class="list-unstyled tabSetList d-flex justify-content-center mb-9">
				<li >
					<a href="#tab1-0" class="active playfair fwEbold pb-2">Mô Tả Chi Tiết</a>
				</li>
			</ul>
			<!-- tab-content -->
			<div class="tab-content mb-xl-11 mb-lg-10 mb-md-8 mb-5">
				<div id="tab1-0" class="active">
					<%- product.content %>
				</div>
			</div>
		</div>
	</div>
</div>


