<%
  showListClientSay = (data) =>{
        let dataParse = (data == undefined) ? [{name:"", content:"",career:""}] : JSON.parse(data)
        let html = ""
        dataParse.forEach((item, index) =>{
            html+= `
            <div id="say-dynamic-field-${index+1}" class="form-group say-dynamic-field">
              <label for="field" class="font-weight-bold">Person ${index+1}</label>
              <div class="row">
                <div class="col-sm-2">
                    <label for="name_client[]_1" class="col-form-label text-sm-right">Name</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name_client_1[]" value="${item.name}"/>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-2">
                    <label for="content_client_1[]" class="col-form-label text-sm-right">Content</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="content_client_1[]" value="${item.content}"/>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-2">
                    <label for="career_client_1[]" class="col-form-label text-sm-right">Career</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="career_client_1[]" value="${item.career}"/>
                </div>
              </div>
            </div>
             `
        })
        return html
  }

%>