<%
  showDataAboutUs = (data, dataName) =>{
    let html=''
    if (!data) data = ["","","",""]
    if (!dataName) dataName = ["","","",""]
    data.forEach((item,index) =>{
      html +=  `
        <div class="col-3">
          <input name='dataAboutUSNAME[]' class="main_email" value="${dataName[index]}" type="text" placeholder="Type name...">
          <input name='dataAboutUS[]' class="main_email mt-2" value="${item}" type="number" placeholder="Type number">
        </div>
      `
    })
    return html
  }

%>