<%- include('./showsaleicon'); -%>
<%- include('./showsaletext'); -%>
<%- include('./formatprice'); -%>

<%
      showFeaturedProduct = (data, link, unit, page) =>{
        if(!data) return
        let html =""
        let count = 0
        if(page == 'category'){
          data.forEach((item,index)=>{
            let dataSale = showSaleIcon(item.discountProduct, item.price)
            let sale     = (dataSale) ? '<span class="fwEbold text-uppercase position-absolute d-block saleFeatured">Sale</span>' : ''
            if(item.fearturedproduct == true && count<5 ){
              html+= `
              <li class="mb-6 d-flex flex-nowrap position-relative">
                ${sale}
                <div class="alignleft">
                    <a href="/${item.slug}">
                      <img src="${link}${item.thumb[0]}" alt="image description" class="img-fluid">
                    </a>
                </div>
                <div class="description-wrap pl-1">
                    <h4 class="headingVII mb-1"><a href="/${item.slug}">${item.name}</a></h4>
                    <strong class="price fwEbold d-block;">${formatPrice(item.price, unit, dataSale)}</strong>
                </div>
            </li>
              `
              count++
            }
          })
        }else{
          data.forEach((item,index)=>{
            if(item.fearturedproduct == true && count<10){
              let dataSale = showSaleIcon(item.discountProduct, item.price)
              let sale     = (dataSale) ? showSaleText(dataSale,unit) : ''
              let position = (dataSale || item.fearturedproduct == true) ? "position-relative " : ""
              let hotShow  = ''
              if(item.fearturedproduct == true){
                hotShow = '<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>'
              }
              html+= `
              <div data-product="product-${item.id}" class="featureCol px-3 ${position} mb-6">
                <div class="border">
                    <div class="imgHolder position-relative w-100 overflow-hidden">
                        <img src="${link}${item.thumb[0]}" alt="image description" class="img-fluid w-100">
                        <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                            <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
                            <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
                            <li class="overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
                        </ul>
                    </div>
                    <div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
                        <span class="title d-block mb-2"><a href="/${item.slug}">${item.name}</a></span>
                        <span class="price d-block fwEbold">${formatPrice(item.price, unit, dataSale)}</span>
                        ${hotShow}
                        ${sale}
                    </div>
                </div>
            </div>
              `
              count++ 
            }
          })
        }
        return html
      }
%>