<%
  showDeliveryList = (data, current) =>{
    console.log(data)
    if(!data) return
    let select = ''
    if(!current) select = 'selected'
    let html='<option ${select}>Chọn Tỉnh Của Bạn</option>'
    data.forEach(item=>{
      select = (current == item.id) ? 'selected' : ''
      html += `
      <option value="${item}" ${select}>${item.province}</option>
      `
    })
    return html
  }
%>