<%
   showProductByCategory = (data, link, unit) =>{
        if(!data) return
        let html=''
        data.forEach((item)=>{
          html += `
                                    <!-- featureCol -->
                                    <div class="col-12 col-sm-6 col-lg-4 featureCol mb-7">
                                      <div class="border">
                                          <div class="imgHolder position-relative w-100 overflow-hidden">
                                              <img src="${link}${item.thumb[0]}" alt="image description" class="img-fluid w-100">
                                              <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                                                  <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                                          class="icon-heart d-block"></a></li>
                                                  <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                                          class="icon-cart d-block"></a></li>
                                                  <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                                          class="icon-eye d-block"></a></li>
                                                  <li class="overflow-hidden"><a href="javascript:void(0);"
                                                          class="icon-arrow d-block"></a></li>
                                              </ul>
                                          </div>
                                          <div class="text-center py-5 px-4">
                                              <span class="title d-block mb-2"><a href="/${item.slug}">${item.name}</a></span>
                                              <span class="price d-block fwEbold">${item.price.toLocaleString() + " " + unit}</span>
                                              <span
                                                  class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
                                              <span
                                                  class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block ml-8">Sale</span>
                                          </div>
                                      </div>
                                  </div>
          `
        })
    return html      
  }
%>
