<%
    showCategoryFilter = (data) =>{
      if (!data) return
      let html = ''
      data.forEach((item)=>{
        html +=`
        <li class="mb-5 overflow-hidden">
            <a href="/danh-muc/${item.slug}">${item.name} 
              <span class="num border float-right">${item.productList.length}</span>
            </a>
        </li>
        `
      })
      return html
    }
%>