<%
    showMenuBar = (menu, listCategory) =>{
        if (!listCategory) listCategory = []
        let showCategory =''
        listCategory.forEach((category) =>{
                showCategory +=`
                        <li class="d-block mx-0">
                                <a class="d-block" href='/danh-muc/${category.slug}'>${category.name}</a>
                        </li>
                `
        })
        let isChild = []
        let xhtml=''
        let xhtmlChild=''
        let xhtmll =''
        let hadChild
        function idExists(id, arr){
            return arr.some(function(el) {
              return el.parentMenu === id;
            }); 
        }
        menu.map((item) => {
            if(item.parentMenu != '0'){isChild.push(item)} 
        })
        
        let callRoot = (data, parentId = 0, stt = 0, category = 0) =>{
            for (const parent of data) {
                    if (parent.parentMenu == parentId){
                        let id = parent.id
                        let slug = parent.slug
                        hadChild = idExists(id, isChild)
                        let level = (stt <= 0) ? '' : 'menu-level-2'
                        let classChild = (stt > 0) ? "d-block mx-0 dropdown" : "nav-item dropdown"
                        if(hadChild == true){
                            xhtml += `
                            <li class="${classChild}">
                                <a class="dropdown-toggle d-block" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/${parent.slug}">
                                    ${parent.name}
                                </a>
                                <ul class="list-unstyled text-capitalize border-right border-bottom border-left dropdown-menu mt-0 py-0 ${level}">`
                            callRoot(data, id, stt+1)
                            let htmlCategoryLevelTwo = ''
                            if(slug == 'category') {
                                htmlCategoryLevelTwo = showCategory
                            }
                            xhtml += htmlCategoryLevelTwo
                            xhtml += ` </ul>
                            </li>
                            `
                        } else {
                                if(stt > 0){
                                    xhtml += `
                                        <li class="d-block mx-0">
                                            <a class="d-block" href="/${parent.slug}">${parent.name}</a>
                                        </li>
                                        `
                                } else{
                                    let htmlCategory = ''
                                    let isDropDown = ''
                                    let btnDisabled = ''
                                    if(slug == 'category'){
                                        htmlCategory =`
                                            <ul class="list-unstyled text-capitalize border-right border-bottom border-left dropdown-menu mt-0 py-0 ">
                                                ${showCategory}
                                            </ul>
                                        `
                                        isDropDown = "dropdown"
                                        btnDisabled = 'onclick="return false;"'
                                    }
                                    xhtml += `
                                    <li class="nav-item ${isDropDown}">
                                        <a class="d-block" ${btnDisabled} href="/${parent.slug}">${parent.name}</a>
                                        ${htmlCategory}
                                    </li>
                                    `

                                }

                        }
                    } 
            }
          return xhtml
          }
          xhtml = callRoot(menu)
          return xhtml
    }
%>