<%
   showProductByCategory = (data, link, unit) =>{
        if(!data || data.length == 0) return '<p class="font-italic text-center">Không có sản phẩm phù hợp.</p>'
        let html=''
        data.forEach((item)=>{
            let dataSale = showSaleIcon(item.discountProduct, item.price, item.time)
            let sale     = (dataSale) ? showSaleText(dataSale, unit) : ''
            let hotShow  = ''
            if(item.fearturedproduct == true){
              hotShow = '<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>'
            }
          html += `
                                    <!-- featureCol -->
                                    <div data-product="product-${item.id}" class="position-relative col-12 col-sm-6 col-lg-4 featureCol mb-7">
                                      <div class="border">
                                          <div data-product="product-${item.id}" class="imgHolder position-relative w-100 overflow-hidden">
                                              <img src="${link}${item.thumb[0]}" alt="image description" class="img-fluid w-100">
                                              <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                                                  <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                                          class="icon-heart d-block" data-product="product-${item.id}"></a></li>
                                                  <li class="mr-2 overflow-hidden" data-product="product-${item.id}"><a href="javascript:void(0);"
                                                          class="icon-cart d-block" data-product="product-${item.id}"></a></li>
                                                  <li class="overflow-hidden"><a href="/xem-nhanh/?id=${item.id}" data-product="product-${item.id}" class="simple-ajax-popup-align-top icon-eye d-block"></a></li>
                                              </ul>
                                          </div>
                                          <div class="text-center py-5 px-4">
                                              <span class="title d-block mb-2"><a href="/${item.slug}">${item.name}</a></span>
                                              <span class="price d-block fwEbold">${formatPrice(item.price, unit, dataSale)}</span>
                                             ${hotShow}
                                             ${sale}
                                          </div>
                                      </div>
                                  </div>
          `
        })
    return html      
  }
%>
