<% 
	const linkThumbSetting = "/" + "uploads" + `/setting/`;
%>
<!-- introBannerHolder -->
<section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(<%= linkThumbSetting + settingPage.logobanner%>);">
  <div class="container">
      <div class="row">
          <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
              <ul class="list-unstyled breadCrumbs d-flex justify-content-center" style="margin-top: 12%; font-size: 15px;"> 
                  <li class="mr-2"><a href="/">Trang Chủ</a></li>
                  <li class="mr-2">/</li>
                  <li class="active"><%= pageTitle %></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section class="container  pb-xl-6 pb-lg-5 pb-md-4  pb-2">
  <div class="row">
      <div class="col-12">
        <div id="notfound">
          <div class="notfound">
            <div class="notfound-bg">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <h2><%= pageTitle %></h2>
          </div>
        </div>
      
      </div>
  </div>
</section>